#root {
  width: 100%;
}
.App {
  width: 100%;
}
.header-main {
  z-index: 990;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd; }
  @media only screen and (min-width: 992px) {
    .header-main {
      margin-top: 32px;
      border-bottom: none; } }

.header-main__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  padding: 4px 14px 0; }
  @media only screen and (min-width: 992px) {
    .header-main__inner {
      height: auto;
      padding: 0 48px; } }

.header-mobile-left,
.header-mobile-right {
  width: 25%; }
  @media only screen and (min-width: 992px) {
    .header-mobile-left,
    .header-mobile-right {
      display: none; } }

.header-mobile-right {
  text-align: right; }
  .header-mobile-right i {
    color: #00424a; }

.header-mobile-right__cart-count {
  font-size: 14px;
  color: #00424a;
  display: none; }

@media only screen and (min-width: 992px) {
  .header-desktop-left {
    display: flex;
    align-items: center; } }

.header-desktop-right {
  display: none; }
  @media only screen and (min-width: 992px) {
    .header-desktop-right {
      display: flex;
      align-items: center; } }
  .header-desktop-right .header-list-item {
    position: relative; }
    .header-desktop-right .header-list-item:hover .header-nav-dropdown {
      opacity: 1;
      visibility: visible;
      pointer-events: auto; }
    .header-desktop-right .header-list-item:hover svg path,
    .header-desktop-right .header-list-item:hover svg polygon {
      fill: #587679; }
    .header-desktop-right .header-list-item:hover i {
      color: #587679; }
  .header-desktop-right li {
    padding: 0 8px; }
    @media only screen and (min-width: 1280px) {
      .header-desktop-right li {
        padding: 0 12px; } }
    .header-desktop-right li:last-child {
      padding-right: 0; }
  .header-desktop-right > li:first-child {
    padding-left: 0; }
  .header-desktop-right button,
  .header-desktop-right a {
    appearance: none;
    border: none;
    display: flex;
    align-items: center;
    position: relative;
    background: none; }
    .header-desktop-right button.active,
    .header-desktop-right a.active {
      color: #b73d31; }
      .header-desktop-right button.active i,
      .header-desktop-right a.active i {
        color: #b73d31; }
      .header-desktop-right button.active svg path,
      .header-desktop-right button.active svg polygon,
      .header-desktop-right a.active svg path,
      .header-desktop-right a.active svg polygon {
        fill: #b73d31; }
      .header-desktop-right button.active span,
      .header-desktop-right a.active span {
        color: #b73d31; }
      .header-desktop-right button.active:hover svg path,
      .header-desktop-right button.active:hover svg polygon,
      .header-desktop-right a.active:hover svg path,
      .header-desktop-right a.active:hover svg polygon {
        fill: #b73d31; }
      .header-desktop-right button.active:hover i,
      .header-desktop-right a.active:hover i {
        color: #b73d31; }
    .header-desktop-right button:hover svg path,
    .header-desktop-right button:hover svg polygon,
    .header-desktop-right a:hover svg path,
    .header-desktop-right a:hover svg polygon {
      fill: #587679; }
    .header-desktop-right button:hover i,
    .header-desktop-right a:hover i {
      color: #587679; }
    .header-desktop-right button i,
    .header-desktop-right a i {
      color: #4d4d4d; }
    .header-desktop-right button svg,
    .header-desktop-right a svg {
      display: block;
      width: 15px;
      height: 15px; }
      .header-desktop-right button svg path,
      .header-desktop-right button svg polygon,
      .header-desktop-right a svg path,
      .header-desktop-right a svg polygon {
        fill: #4d4d4d; }

.header-search-form {
  position: absolute;
  right: -25px;
  top: calc(100% - 3px);
  margin-top: 15px;
  width: 275px;
  padding: 12px;
  pointer-events: none;
  transition: opacity 0.2s;
  opacity: 0;
  background-color: #ffffff;
  border: 1px solid #dddddd; }
  .header-search-form::before {
    content: "";
    position: absolute;
    top: -11px;
    left: calc(100% - 55px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #dddddd; }
  .header-search-form::after {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(100% - 56px);
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #ffffff; }
  .header-search-form.active {
    pointer-events: auto;
    opacity: 1; }
  .header-search-form .nextopia-search {
    padding: 7px;
    width: 100%;
    border: 1px solid #dddddd;
    font-size: 12px;
    color: #4d4d4d; }

.nxt-ac-main {
  border: none !important;
  padding: 13px 24px 0 32px !important;
  outline: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  overflow: visible !important; }
  @media only screen and (max-width: 991px) {
    .nxt-ac-main {
      width: 100% !important;
      left: 0 !important; } }
  @media only screen and (min-width: 992px) {
    .nxt-ac-main {
      padding: 0 !important; } }

@media only screen and (min-width: 992px) {
  .nxt-ac-sub-terms {
    padding: 12px !important;
    margin-left: -13px !important;
    border: 1px solid #dddddd !important;
    border-top: none !important;
    width: 275px !important; } }

.nxt-ac-products-container {
  padding: 12px 0 0 !important; }
  @media only screen and (min-width: 992px) {
    .nxt-ac-products-container {
      border: 1px solid #dddddd !important;
      border-top: none !important;
      width: 275px !important;
      margin-left: -13px !important;
      margin-top: -1px !important;
      padding: 12px !important; } }

.nxt-ac-header {
  margin-top: 0 !important;
  color: #4d4d4d !important;
  margin-left: 0 !important;
  margin-right: 0 !important; }

.nxt-ac-item {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.header-search-icon {
  height: 22px; }
  .header-search-icon svg {
    pointer-events: none; }
  .header-search-icon:focus {
    outline: inherit;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #f7b9a1; }

.icon-help-circled:focus {
  outline: inherit;
  outline-style: solid;
  outline-width: 2px;
  outline-color: #f7b9a1; }

.header-list-item:focus .icon-help:focus {
  outline: inherit;
  outline-style: solid;
  outline-width: 2px;
  outline-color: #f7b9a1; }

.header-search-input-icon {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  right: 22px;
  cursor: pointer; }
  .header-search-input-icon svg {
    width: 15px;
    height: 15px;
    display: block; }
  .header-search-input-icon svg path,
  .header-search-input-icon svg polygon {
    fill: #587679; }
  .header-search-input-icon input {
    display: none; }

.header-cart-btn {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 1; }
  .header-cart-btn i {
    padding-right: 5px; }
  .header-cart-btn span {
    color: #4d4d4d; }
  .header-cart-btn:focus {
    outline: inherit;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #f7b9a1; }

.header-nav-dropdown {
  position: absolute;
  right: -25px;
  top: calc(100% - 3px);
  padding-top: 15px;
  width: 190px;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s; }
  .header-nav-dropdown::before {
    content: "";
    position: absolute;
    top: 5px;
    left: calc(100% - 55px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #dddddd; }
  .header-nav-dropdown::after {
    content: "";
    position: absolute;
    top: 6px;
    left: calc(100% - 56px);
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #ffffff; }
  .header-nav-dropdown ul {
    margin: 0;
    text-align: left;
    padding: 30px 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd; }
  .header-nav-dropdown li {
    list-style-type: none;
    padding-bottom: 14px; }
  .header-nav-dropdown li a {
    font-size: 12px;
    line-height: 16px;
    color: #4d4d4d;
    padding: 0; }
    .header-nav-dropdown li a:hover {
      color: #587679; }

.mobile-menu-toggle,
.mobile-search-toggle,
.mobile-inline-cart-toggle {
  padding: 8px; }
  @media only screen and (min-width: 992px) {
    .mobile-menu-toggle,
    .mobile-search-toggle,
    .mobile-inline-cart-toggle {
      display: none; } }
  .mobile-menu-toggle svg,
  .mobile-search-toggle svg,
  .mobile-inline-cart-toggle svg {
    display: block; }
    .mobile-menu-toggle svg path,
    .mobile-menu-toggle svg polygon,
    .mobile-search-toggle svg path,
    .mobile-search-toggle svg polygon,
    .mobile-inline-cart-toggle svg path,
    .mobile-inline-cart-toggle svg polygon {
      fill: #00424a; }

.mobile-menu-toggle svg {
  width: 18px;
  height: 15px; }

.mobile-search-toggle {
  padding-left: 10px; }
  .mobile-search-toggle svg {
    width: 17px;
    height: 15px; }

.mobile-inline-cart-toggle.active i {
  color: #b73d31; }

.mobile-inline-cart-toggle.active .header-mobile-right__cart-count {
  color: #b73d31;
  display: inline; }
  .mobile-inline-cart-toggle.active .header-mobile-right__cart-count::before {
    content: "("; }
  .mobile-inline-cart-toggle.active .header-mobile-right__cart-count::after {
    content: ")"; }

.mobile-inline-cart-toggle svg {
  display: inline-block;
  width: 18px;
  height: 16px; }

.header-logo {
  width: 127px;
  height: auto;
  display: block; }
  @media only screen and (min-width: 1024px) {
    .header-logo {
      width: 156px; } }
  @media only screen and (min-width: 1280px) {
    .header-logo {
      width: 186px; } }
  .header-logo svg {
    display: block;
    width: 100%; }

.header-main-menu {
  display: none; }
  @media only screen and (min-width: 992px) {
    .header-main-menu {
      display: flex;
      align-items: center;
      margin: 0 0 0 24px;
      padding: 0;
      font-size: 14px;
      line-height: 1; } }
  .header-main-menu li {
    list-style-type: none; }

.header-main-menu-list-item {
  display: inline-block; }
  .header-main-menu-list-item:hover {
    border-color: #00424a; }
    .header-main-menu-list-item:hover .header-main-child-container {
      opacity: 1;
      pointer-events: auto;
      visibility: visible; }
    .header-main-menu-list-item:hover .header-main-menu-link {
      position: relative; }
      .header-main-menu-list-item:hover .header-main-menu-link::after {
        content: "";
        bottom: -1px;
        width: calc(100% - 24px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 1px solid #00424a;
        z-index: 2; }

.header-main-menu-link {
  color: #4d4d4d;
  display: inline-block;
  white-space: nowrap;
  padding: 20px 12px 15px; }
  @media only screen and (min-width: 1280px) {
    .header-main-menu-link {
      padding: 20px 20px 15px; } }
  .header-main-menu-link:hover {
    color: #587679; }

.header-main-child-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 30px 0 40px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s; }

.header-main-child-list {
  display: flex;
  padding: 0 48px; }

.header-image-list-item {
  margin-right: 16px; }
  @media only screen and (min-width: 1280px) {
    .header-image-list-item {
      margin-right: 24px; } }
  .header-image-list-item:last-child {
    margin-right: 0; }

.header-nav-img {
  max-width: 134px;
  position: relative;
  align-self: flex-start; }
  @media only screen and (min-width: 1280px) {
    .header-nav-img {
      max-width: 180px; } }
  .header-nav-img a {
    display: block; }
  .header-nav-img img {
    display: block; }
  .header-nav-img div {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 12px 12px;
    font-size: 16px;
    font-family: "Basetica Bold", sans-serif; }
    @media only screen and (min-width: 1280px) {
      .header-nav-img div {
        font-size: 20px;
        padding: 0 20px 20px; } }

.header-image-list-link {
  padding: 0 48px;
  margin-top: 24px; }

.header-main-child-list-item {
  margin-right: 24px;
  width: 15%; }
  .header-main-child-list-item:last-child {
    margin-right: 0; }

.header-main-child-list-item--img {
  max-width: 180px; }

.header-main-child-list-header {
  color: #00424a;
  font-size: 14px;
  font-weight: bold; }

.header-main-grandchild-list {
  margin-top: 15px; }

.header-main-grandchild-list-item a {
  color: #4d4d4d;
  display: inline-block;
  padding-top: 10px; }
  .header-main-grandchild-list-item a:hover {
    color: #587679; }

.footer-main {
  background-color: #00424a;
  padding: 40px 0;
  flex-shrink: 0; }
  @media only screen and (min-width: 768px) {
    .footer-main {
      padding: 60px 0 40px; } }

.footer-main-inner {
  padding: 0 24px; }
  @media only screen and (min-width: 768px) {
    .footer-main-inner {
      padding: 0 48px 0; } }

.footer-main__list {
  margin: 0;
  padding-left: 0; }
  @media only screen and (min-width: 768px) {
    .footer-main__list {
      display: flex; } }
  .footer-main__list ul {
    padding-left: 0;
    font-size: 14px;
    line-height: 1; }
  .footer-main__list li {
    list-style-type: none; }
  .footer-main__list li,
  .footer-main__list a {
    color: #ffffff;
    font-size: 14px;
    line-height: 1; }

.footer-list-header {
  font-family: "Basetica Bold", sans-serif; }
  @media only screen and (min-width: 768px) {
    .footer-list-header {
      margin-right: 24px;
      min-width: calc(25% - 24px); } }
  @media only screen and (min-width: 992px) {
    .footer-list-header {
      min-width: 176px; } }
  .footer-list-header li,
  .footer-list-header a {
    font-family: "Basetica", sans-serif; }

.footer-list-inner {
  margin: 15px 0 40px; }
  @media only screen and (min-width: 768px) {
    .footer-list-inner {
      margin-bottom: 0; } }
  .footer-list-inner li {
    margin-bottom: 15px; }
  .footer-list-inner i {
    margin-right: 8px; }

.footer-social-link {
  display: flex;
  align-items: center; }

.footer-copyright {
  font-size: 10px;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 60px; }
  @media only screen and (min-width: 768px) {
    .footer-copyright {
      margin-top: 45px; } }

.footer-logo {
  padding: 1.5em 0; }