//Color Palette 

$brandGreen:  #00424a;
$lightGreen:  #425c5c;
$white:       #ffffff;
$lightestGrey:#f5f5f5;
$lineGrey:    #c8c8c8;
$grey:        #737373;
$darkGrey:    #4d4d4d;
$brandRed:    #9b2e29;


